language: generic
dist: xenial
sudo: required
compiler: clang

addons:
  apt:
    packages:
      - git
      - cmake
      - python-yaml
      - python-psutil
      - unzip
      - libz-dev
      - libedit-dev

cache:
  directories:
    - $HOME/build/smackers/boogie
    - $HOME/build/smackers/corral
    - $HOME/build/smackers/symbooglix
    - $HOME/build/smackers/lockpwn

env:
  global:
    - COMPILER_NAME=clang COMPILER=clang++ CXX=clang++ CC=clang
  matrix:
    - TRAVIS_ENV="--exhaustive --folder=basic"
    - TRAVIS_ENV="--exhaustive --folder=data"
    - TRAVIS_ENV="--exhaustive --folder=ntdrivers-simplified"
    - TRAVIS_ENV="--exhaustive --folder=bits"
    - TRAVIS_ENV="--exhaustive --folder=float"
    - TRAVIS_ENV="--exhaustive --folder=locks"
    - TRAVIS_ENV="--exhaustive --folder=contracts"
    - TRAVIS_ENV="--exhaustive --folder=simd"
    - TRAVIS_ENV="--exhaustive --folder=memory-safety"
    - TRAVIS_ENV="--exhaustive --folder=pthread"
    - TRAVIS_ENV="--exhaustive --folder=strings"

before_install:
  - sudo rm -rf /usr/local/clang-7.0.0
  - sudo add-apt-repository "deb http://apt.llvm.org/xenial/ llvm-toolchain-xenial-7.1 main"
  - wget -O - http://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
  - sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
  - sudo apt-get install -y apt-transport-https
  - echo "deb https://download.mono-project.com/repo/ubuntu stable-xenial main" | sudo tee /etc/apt/sources.list.d/mono-official-stable.list
  - sudo apt-get update

install:
  - sudo apt-get install -y clang-7.1 clang-format-7.1 llvm-7.1-dev mono-complete ninja-build
  - sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-7.1 20
  - sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-7.1 20
  - sudo update-alternatives --install /usr/bin/llvm-config llvm-config /usr/bin/llvm-config-7.1 20
  - sudo update-alternatives --install /usr/bin/llvm-link llvm-link /usr/bin/llvm-link-7.1 20
  - sudo update-alternatives --install /usr/bin/llvm-dis llvm-dis /usr/bin/llvm-dis-7.1 20
  - sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-7.1 20
  - sudo pip install pyyaml psutil

script:
  - python --version
  - $CXX --version
  - $CC --version
  - clang --version
  - clang++ --version
  - llvm-link --version
  - llvm-config --version
  - ./format/run-clang-format.py -e test/basic/transform-out.c -r lib/smack include/smack share/smack/include share/smack/lib test examples
  - ./bin/build.sh
