<!DOCTYPE HTML>

<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<style type="text/css">
  <!--
  body {
    margin: 0px;
    font-family: arial, sans serif;
  }
  #header {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    padding: 0.2em;
    color: white;
    background-color: rgb(85, 85, 85);
  }
  #header .buttons a {
    margin: 0px 2em;
    white-space: nowrap;
  }
  #header a:hover {
    background-color: white;
    color: black;
  }
  #attribution {
    float: right;
    padding-right: 1em;
    font-size: 85%;
  }
  #attribution a {
    text-decoration: underline;
  }
  table {
    outline:3px solid black;
    border-spacing:0px;
  }
  table#dataTable {
    margin: 6px; margin-top: 2em;
  }
  thead { text-align:center}
  tbody { text-align:right; white-space: nowrap}
  tfoot { text-align:center}
  tr:hover { background-color:yellow}
  td { border:1px solid black}
  td:first-child { text-align:left; white-space:nowrap}
  #dataTable tbody td:first-child { font-family: monospace; }
  #options td:not(:first-child) {  text-align:left; font-size: x-small;
                                   font-family: monospace; vertical-align: top; }
  .columnTitles td:first-child { font-family: monospace; font-size: x-small; }
  tbody tr:first-child td { border-top:3px solid black}
  tfoot tr:first-child td { border-top:3px solid black}
  .status { text-align: center; }
  .status.correct { color:green}
  .status.wrong { color:red; font-weight: bold; }
  .status.unknown { color:orange; font-weight: bold; }
  .status.error { color:magenta; font-weight: bold; }
  .value { font-family: monospace }
  .score { text-align:center; font-size:large; font-weight:bold; }
  a { color: inherit; text-decoration: none; }
  #dataTable a { display: block; }
  a:hover, .clickable:hover { background: lime; cursor: pointer; }

  #contentPaneBackground { height: 100%; width: 100%;
           position:fixed; top:0px; left:0px;
           background-color:green;
           opacity:0.2; display:none }
  #contentPane {
    height:90%; width:90%;
    position:fixed;
    top:5%; left:5%;
    border:solid 10px black; border-radius:15px;
    background-color:white;
    opacity:1;
    display:none;
    overflow:auto;
  }

  .scriptonly {
    display: none; // only enabled via JavaScript
  }
@media print {
  /* don't print tfoot on each page */
  tfoot { display: table-row-group; }
  #header { display: none!important; }
  #dataTable { margin: 0px!important; }
}

@media (max-width: 850px) {
  #attribution {
    float: none;
  }
  #header .buttons a {
    margin: 0px 1em;
  }
}

  /* for showing content of links in extra panel */
  #contentPane > pre#content {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  /* table for selecting columns */
  #tableViewTable { margin: auto; }
  #tableViewTable td { padding-bottom: 5px; padding-top: 5px; }
  #tableViewTable thead td:first-child { font-size:large; font-weight:bold; text-align:center }
  #tableViewTableWrapper { height: 100%; overflow: auto; width: 100%; }
  .hiddenCell { background: red; }
  .visibleCell { background: green; }
  .clickableCell:hover { opacity: 0.5; cursor: pointer; }

  /* UI for filtering rows */
  button:hover { cursor: pointer; }
  #rowFilterButtons ul { list-style-type:none }
  #rowFilterSelector   { position:absolute; top:20px; right:140px; width:100px; height:300px; }
  #button-filter-reset { position:absolute; top:20px; right:20px; width:100px; height:30px; }
  #button-filter-all   { position:absolute; top:60px; right:20px; width:100px; height:30px; }
  #button-filter-none  { position:absolute; top:100px; right:20px; width:100px; height:30px; }
  #button-filter-start { position:absolute; top:140px; right:20px; width:100px; height:30px; }

  /* plots */
  .jqplot-title { font-size:large; z-index:10 }
  .jqplot-table-legend-swatch {width:20px; height:15px }
  .jqplot-table-legend { border-style:none; outline:none }
  .jqplot-table-legend tbody { border-style:none }
  .jqplot-table-legend tbody tr td { border-top:none; cursor:pointer }
  .jqplot-highlighter-tooltip { font-size:100%;
           text-align: center;
           border:solid 1px black; padding:2px;
           border-radius:8px;
           background-color:white; opacity:0.8; }
  .jqplot-table-legend { text-align: left; }
  table.jqplot-table-legend[style] { position:absolute; left:auto !important; right:0px !important; } /* overrides inner css-style */
  #chart { height:100%; width:100%; overflow:hidden; }
  #button-quantile { position:absolute; bottom:50px; }
  #button-logScale { position:absolute; bottom:25px; }
  #button-showCorrectOnly { position:absolute; bottom:0px; }
  .plot-selector { width:30%; }
  -->
</style>

<title>{{title}}</title>

</head>

<body>

<div id="header">
  <span class="scriptonly buttons">
    <a href="javascript:createColumnToggleView()">Select Columns</a>
    <a href="javascript:createRowFilterButtons()">Filter Rows</a>
    <a href="javascript:createQuantilePlotView()">Quantile Plot</a>
    <a href="javascript:createScatterPlotView()">Scatter Plot</a>
  </span>
  <span class="noscript">
    Please enable JavaScript for advanced features.
  </span>
  <div id="attribution">
    Generated with <a href="https://github.com/dbeyer/benchexec" target="_blank">BenchExec</a>
  </div>
</div>

<div id="contentPaneBackground"></div>
<div id="contentPane"></div>

<table id="dataTable">
<thead>
{{py:
def format_options(str):
    '''Helper function for formatting the content of the options line'''
    optionsAsList = html_quote(' ' + str).split(' -')
    optionsAsList = ['<span style="display:block"> -' + option + '</span>' for option in optionsAsList[1:]]
    return html(''.join(optionsAsList))
}}
{{for lineName in ['tool', 'limit', 'host', 'os', 'system', 'date', 'runset', 'branch', 'options', 'property', 'title']}}
  {{if lineName in head and head[lineName]}}
  {{py:line = head[lineName]}}
<tr id="{{line.id}}" class="{{line.id}}">
<td>{{line.name}}</td>
    {{for cell, width in line.content}}
<td colspan="{{width}}">{{format_options(cell) if line.id == 'options' else cell}}</td>
    {{endfor}}
</tr>
  {{endif}}
{{endfor}}
</thead>

<tbody>
{{for line in body}}
<tr><td title="Click here to show source code"><a href="{{line.file_path|url}}">{{line.short_filename}}</a></td>
  {{for runResult in line.results}}
  {{for column, value in zip(runResult.columns, runResult.values)}}
  {{if column.title == 'status'}}
    {{if runResult.log_file}}
<td class="status {{runResult.category}}" title="Click here to show output of tool"><a href="{{relpath(runResult.log_file, base_dir)|url}}">{{(value or '-').lower()}}</a></td>
    {{else}}
<td class="status {{runResult.category}}">{{(value or '-').lower()}}</td>
    {{endif}}
  {{else}}
<td class="{{runResult.category}} value">{{format_value(value, column)|html}}</td>
  {{endif}}
  {{endfor}}
  {{endfor}}
</tr>
{{endfor}}
</tbody>

<tfoot>
{{py:
def format_stat_title(stat, column, format_value):
    '''Helper function to create the tooltip of a status cell containing average etc.'''
    if not stat or not stat.avg:
        return None
    values = {k: format_value(v, column) for k, v in stat.__dict__.items()}
    return 'Min: {min}, Max: {max}, Average: {avg}, Median: {median}'.format(**values)
}}
{{py:line = head['title']}}
<tr class="{{line.id}}">
<td>{{line.name}}</td>
  {{for cell, width in line.content}}
<td colspan="{{width}}">{{cell}}</td>
  {{endfor}}
</tr>
{{for line in foot}}
<tr class="statistics">
<td {{attr(title=line.description)}}>{{line.title | html}}</td>
    {{for cell, column in zip(line.content, flatten(columns))}}
<td {{attr(class_=line.id, title=format_stat_title(cell, column, format_value))}}>{{format_value(cell, column)}}</td>
    {{endfor}}
</tr>
{{endfor}}
{{py:line = head['runset']}}
<tr class="{{line.id}}">
<td>{{line.name}}</td>
  {{for cell, width in line.content}}
<td colspan="{{width}}">{{cell}}</td>
  {{endfor}}
</tr>
</tfoot>
</table>


<!-- ################## Base JS ################## -->

<script type="text/javascript" src="{{lib_url}}/jquery/1.11.2/jquery.min.js"></script>

<script type="text/javascript">
// enable content that is only shown if JS is enabled
$('.noscript').hide();
$('.scriptonly').show();

// All the data from the table head in nice JS data structures.
var run_sets = {{run_sets|json}};   // list with the attributes of all run sets
var columns = {{columnTitles|json}}; // nested list with all the columns headings
var columnsToRunset = [];         // for each column of the table the runSet it belongs to (first column is 0)

for (var i = 0; i < columns.length; i++) {
  run_sets[i].columns = columns[i];
}
for (var i = 0; i < run_sets.length; i++) {
  for (var j = 0; j < run_sets[i].columns.length; j++) {
    columnsToRunset.push(run_sets[i]);
  }
}

var currentlySelectedCell = null;

// callback that is fired when user clicks on cellsWithUrls (see down below)
function highlightCell(event) {
  var target = event.target;
  if (target.nodeName === 'A') {
    target = target.parentNode;

    // unhighlight currentlySelectedCell
    if (currentlySelectedCell != null) {
      currentlySelectedCell.style.borderColor = 'black';
    }

    // highlight cell that has been just clicked on
    target.style.borderColor = 'red';
    currentlySelectedCell = target;
  }
}

function debug(logInfo) {
  if (!true) {
    console.log(logInfo);
  }
}

function showContentPane() {
  // add function for cleanup, first unbind any old function
  $('#contentPaneBackground').unbind().click(hideContentPane).show();
  $('#contentPane').show().focus();
}

function hideContentPane(event) {
  // hide the content pane on mouse click outside the content pane
  // or when pressing the "Esc" or "c" key with the content pane focused
  if (event.type == "click" || escKeyPressed(event) || cKeyPressed(event)) {
    $('#contentPaneBackground').hide();
    $('#contentPane').hide().empty();
  }
}

function escKeyPressed(event) {
  return event.keyCode == 27;
}

function cKeyPressed(event) {
  // only "c" is pressed, not in combination with Ctrl-key
  return (event.keyCode == 67 && event.ctrlKey == false);
}

function fKeyPressed(event) {
  // only "f" is pressed, not in combination with Ctrl-key
  return (event.keyCode == 70 && event.ctrlKey == false);
}

// input: the index of the column in the table
function getNameOfTest(column) {
  var runSet = columnsToRunset[column-1];
  return getNameOfTestDirect(runSet);
}

function getNameOfTestDirect(runSet) {
  return runSet.tool + ' '
       + (runSet.date ? runSet.date + ' ' : '')
       + runSet.name
       + (runSet.benchmarkname ? '.' + runSet.benchmarkname : '');
}

$(document).ready(function() {
  $('body').keydown(hideContentPane);
});

</script>


<!-- ################## Make links load via AJAX and show content in extra panel ################## -->

<script type="text/javascript">

function loadContentWrapper(event) {
  var url = $(event.target).attr("href");
  loadContent(url);
  return false;
}

function loadContent(url) {
  var contentPane = $('<pre id="content"></pre>').appendTo("#contentPane")

  $.ajax({
    async: false, // wait for isError
    url: url,
    cache: false,
    dataType: "text",
    beforeSend: function() {
      showContentPane();
      contentPane.html("loading...");
    },
    success: function(text) {
      newtext = text.replace(/&/g, "&amp;")
                    .replace(/"/g, "&quot;")
                    .replace(/</g, "&lt;")
                    .replace(/>/g, "&gt;")
                    .replace(/\\n/g, "<br>");
      contentPane.html(newtext);
    },
    error: function() {
      contentPane.html("error while loading content.<br>" +
        "this could be a problem of the 'same-origin-policy' of your browser.<br><br>" +
        "only firefox seems to be able to access files from local directories<br>" +
        "and this works only if the file is in the same directory as this website.<br><br>" +
        "you can try to download the file: <a href=" + url + ">" + url + "</a>");
    },
  });
}

$(document).ready(function() {
  var cellsWithUrls = $('#dataTable a');
  cellsWithUrls.each(
    function(index, elem) {
      $(elem).click(highlightCell).click(loadContentWrapper);
    });
});
</script>


<!-- ################## Possibility to display an overlay-table
                        for selecting displayed columns or showing other data
                        by clicking on left-most cell in title row ################## -->

<script type="text/javascript">

// a two-dimensional array of all the cells in the table header,
// but each cell occurs as often in a row as its colspan attribute says
var headerAndFooterArray = null;

function createHeaderAndFooterArray() {
  headerAndFooterArray = [];
  var rows = $('#dataTable > thead > tr, #dataTable > tfoot > tr');
  for (var i=0; i<rows.length; i++) {
    var rowIndices = expandColSpanToNums(rows[i]);
    headerAndFooterArray.push(rowIndices);
  }
}

function expandColSpanToNums(row) {
  var list = [];
  for (var i=0; i<row.cells.length; i++) {
    for (var j=0; j<parseInt(row.cells[i].colSpan); j++) {
      list.push($(row.cells[i]));
    }
  }
  return list;
}

function incColspan(col) {
  var span = parseInt(col.attr("colspan"));
  if (span == 0) { col.show(); }
  col.attr("colspan", span + 1);
}

function decColspan(col) {
  var span = col.attr("colspan");
  span = (span == undefined) ? 1 : parseInt(span);
  col.attr("colspan", span - 1);
  if (span == 1) { col.hide(); }
}

// this function shows or hides a column and enlarges or shrinks the header-columns
// @param index: index of a column in row "columnTitle"
function toggleColumn (shouldBeVisible, index) {
    if (headerAndFooterArray == null) { createHeaderAndFooterArray(); }
    var columnTitles = $('#columnTitles > td');
    // if column is hidden (or visible), we do not hide (or show) it again
    if ($(columnTitles[index]).is(":visible") != shouldBeVisible) {
        for (var i=0; i<headerAndFooterArray.length; i++) {
            var cell = headerAndFooterArray[i][index];
            shouldBeVisible ? incColspan(cell) : decColspan(cell);
        }
        var childIndex = index+1; // first child is number 1
        var children = $("#dataTable > tbody > tr > td:nth-child(" + childIndex + ")");
        shouldBeVisible ? children.show() : children.hide();
    }
}

// "id->cell", "id" is the columnIndex in the dataTable,
// "cell" is the jQuery-object of the cell of the column-toggle-table
var indexToCell = {};

// this function toggles a list of cells and
// makes the cells equally toggled to the first cell
function toggleCells(indices) {
    var checked = indexToCell[indices[0]].isChecked;
    for (var i=0; i<indices.length; i++) {
        var cell = indexToCell[indices[i]];
        toggleColumn (!checked, indices[i]);
        cell.removeClass(!checked ? 'hiddenCell' : 'visibleCell')
            .addClass(checked ? 'hiddenCell' : 'visibleCell');
        cell.isChecked = !checked;
    }
}


// collect columns and store them in a datastructure,
// this allows access to the columnsover the title and the index.
// @param columnTitles: list of strings, will be filled.
// @param titlesToColumns: map from column-title to a list of column-indices, will be filled.
// @returns number of columns, equal to "sum(len(c) for c in columns)"
function getColumns(columnTitles, titlesToColumns) {
    var columnIndex = 1; // column 1 is the first data-column
    for (var i = 0; i < run_sets.length; i++) {
        var runSet = run_sets[i];
        runSet.indexToColumn = {} // from runSet-column-index to table-index
        runSet.indices = [] // equal to values from runSet.indexToColumn

        var cols = columns[i];
        for (var j = 0; j < cols.length; j++, columnIndex++) {
            var title = cols[j];
            var index;
            if (title in titlesToColumns) {
                titlesToColumns[title].push(columnIndex);
                index = columnTitles.indexOf(title);
            } else { // new title
                titlesToColumns[title] = [columnIndex];
                columnTitles.push(title);
                index = columnTitles.length - 1; // index of last position
            }
            runSet.indexToColumn[index] = columnIndex;
            runSet.indices.push(columnIndex);
        }
    }
    return columnIndex;
}


// returns a list with values from start to end. example: range(2,6)==[2,3,4,5]
function range(start, end) {
    var list = []; for (var i=start; i<end; i++) { list.push(i); } return list;
}


function createColumnToggleView() {

    // collect all columns
    var columnTitles = [];
    var titlesToColumns = {};
    var columnIndex = getColumns(columnTitles, titlesToColumns);

    // create header for table
    var rowHeader = $('<tr>');

    // create top-left cell
    $('<td>')
        .click( {indices: range(1, columnIndex) },
                function(event) { toggleCells(event.data.indices); } )
        .addClass('clickable')
        .attr('title', 'Click here to toggle all columns')
        .appendTo(rowHeader);

    // create column-title-cells
    for (var j = 0; j < columnTitles.length; j++) {
        $('<td>').append(columnTitles[j])
            .click( {indices: titlesToColumns[columnTitles[j]]},
                    function(event) { toggleCells(event.data.indices); } )
            .addClass('clickable')
            .attr('title', 'Click here to toggle all columns with this title')
            .appendTo(rowHeader);
    }

    var tableHTML = $('<table>').attr('id', 'tableViewTable')
                    .append($('<thead>').append(rowHeader));

    // create body for table
    var tableBody = $('<tbody>').appendTo(tableHTML);
    for (var i = 0; i < run_sets.length; i++) {
        rowHTML = $('<tr>').appendTo(tableBody);
        var runSet = run_sets[i];

        // get indices of row and create rowTitle-cell
        var rowTitle = runSet.tool + ' ' + (runSet.date ? runSet.date + ' ' : '') + runSet.name;
        $('<td>').append(rowTitle)
            .click( {indices: runSet.indices},
                    function(event) { toggleCells(event.data.indices); } )
            .addClass('clickable')
            .attr('title', 'Click here to toggle all columns of this runSet')
            .appendTo(rowHTML);

        // get cells of row
        var cols = columns[i];
        for (var j = 0; j < columnTitles.length; j++) {
            var cell = $('<td>').appendTo(rowHTML);
            var index = runSet.indexToColumn[j];
            if (index) {
                indexToCell[index] = cell;
                var childIndex = index + 1;
                var checked = $('#columnTitles > td:nth-child(' + childIndex + ')').is(':visible');
                cell.isChecked = checked;
                cell.addClass(checked ? 'visibleCell' : 'hiddenCell')
                    .click( {index: [index]},
                            function(event) { toggleCells(event.data.index); } )
                    .addClass('clickableCell');

            }
        }
    }
    $('<div>').attr('id', 'tableViewTableWrapper')
              .append(tableHTML)
              .appendTo($("#contentPane"));
    showContentPane();
}


// shows a table with statistics
// @param statisticsRow: which statistic to show?
function createStatsView(statistics, currentIndex) {

    var statisticsRow = statistics[currentIndex];

    // collect all columns
    var columnTitles = [];
    var titlesToColumns = {};
    var columnIndex = getColumns(columnTitles, titlesToColumns);

    // create header for table
    var rowHeader = $('<tr>');

    // create top-left cell
    var originalCell = $(statisticsRow.cells[0])
    $('<td>').text(originalCell.text())
             .appendTo(rowHeader)
             .addClass('clickable')
             .click(function(event) { // iterate through statistics
                 $('#contentPaneBackground').click(); // cleanup
                 createStatsView(statistics, (currentIndex + 1) % statistics.length);
             } )
             .attr('title', originalCell.attr('title'));

     // create column-title-cells
     for (var j = 0; j < columnTitles.length; j++) {
         var title = (columnTitles[j] == 'status') ? '#files' : columnTitles[j];
         $('<td>').append(title).appendTo(rowHeader);
    }

    var tableHTML = $('<table>').attr('id', 'tableViewTable')
                    .append($('<thead>').append(rowHeader));

    // create body for table
    var tableBody = $('<tbody>').appendTo(tableHTML);
    for (var i = 0; i < run_sets.length; i++) {
        rowHTML = $('<tr>').appendTo(tableBody);
        var runSet = run_sets[i];

        // get indices of row and create rowTitle-cell
        var rowTitle = runSet.tool + ' ' + (runSet.date ? runSet.date + ' ' : '') + runSet.name;
        $('<td>').append(rowTitle)
            .appendTo(rowHTML);

        // get cells of row
        var cols = columns[i];
        for (var j = 0; j < columnTitles.length; j++) {
            var cell = $('<td>').appendTo(rowHTML);
            var index = runSet.indexToColumn[j];
            if (index) {
                originalCell = $(statisticsRow.cells[index]);
                cell.text(originalCell.text()).attr('title', originalCell.attr('title'));
            }
        }
    }
    $('<div>').attr('id', 'tableViewTableWrapper')
              .append(tableHTML)
              .appendTo($("#contentPane"));
    showContentPane();
}

$(document).ready(function() {
  $('.columnTitles > td:first-child')
    .addClass("clickable")
    .attr("title", "Click here to toggle visibility of columns")
    .click(function (event) {
        return createColumnToggleView(); });

  var statistics = $('.statistics');
  statistics.each(function(index, statisticsRow) {
            $(statisticsRow).find(':first')
                .addClass('clickable')
                .click(function (event) { return createStatsView(statistics, index); });
       });
});
</script>

<!-- ################## Possibility to select displayed rows by pressing f ################## -->

<script type="text/javascript">

function createRowFilterButtons() {
  $("#contentPane").empty();

  var buttonList = $('<form>', {id:'rowFilterButtons', onsubmit:'return false'})
        .appendTo($("#contentPane"));
  var columnIndex = 1; // columns start with 1
  for (var i = 0; i < run_sets.length; i++) {
    var runSet = run_sets[i];
    var sublist = $('<ul>').text(getNameOfTest(columnIndex)).appendTo(buttonList);

    for (var j = 0; j < runSet.columns.length; j++, columnIndex++) {
      var target = 'check' + columnIndex;
      var button = $('<input>', {
                    type:'radio', name:'filter', id:target,
                    onclick:('fillRowFilterField(' + columnIndex + ')')});
      var label = $('<label>', {for:target}).text(runSet.columns[j]).addClass("clickable");
      $('<li>').append(button).append(label).appendTo(sublist);
    }
  }

  $('<button>').text('reset filter').attr('id', 'button-filter-reset')
        .attr('title', 'Click here to restore the complete table')
        .click(function(){
                var dataRows = $('#dataTable > tbody')[0].rows;
                for (var i = 0; i < dataRows.length; i++) {
                    $(dataRows[i]).show();
                }
                // delete outdated elements and selections
                removeFilterButtons();
                $('#rowFilterButtons input').each(function(_, elem) {elem.checked=false;})
            })
        .appendTo($("#contentPane"));

  showContentPane();
}

function fillRowFilterField(columnIndex) {

    // determinate options
    var options = [];
    var columnName = $('#columnTitles')[0].cells[columnIndex].textContent;
    if (columnName == 'status') {
        options = options.concat(['correct', 'wrong', 'unknown']);
    }
    $('#dataTable > tbody > tr').filter(':visible').each(function(_, row) {
        currentValue = row.cells[columnIndex].textContent;
        if (jQuery.inArray(currentValue, options) === -1) {
            options.push(currentValue);
        }
    });

    // sort options, in most cases we have numbers
    options.sort( function(a, b) {
        if (a == null || isNaN(a)) return 1;
        if (b == null || isNaN(b)) return -1;
        return a - b;
    } );

    // delete old elements
    removeFilterButtons();

    // create new selection field with options
    var rowFilter = $('<select>').attr('id', 'rowFilterSelector')
        .attr('multiple', 'multiple').appendTo($('#contentPane'));
    $.each(options, function(_, option) {
        rowFilter.append(new Option(option, option));
    });

    $('<button>').text('select all').attr('id', 'button-filter-all')
        .attr('title', 'Click here to select all values')
        .click(function(){ $('#rowFilterSelector option').prop('selected',true); })
        .appendTo($('#contentPane'));

    $('<button>').text('select none').attr('id', 'button-filter-none')
        .attr('title', 'Click here to deselect all values')
        .click(function(){ $('#rowFilterSelector option').prop('selected',false); })
        .appendTo($('#contentPane'));

    $('<button>').text('apply filter').attr('id', 'button-filter-start')
        .attr('title', 'Click here to filter all matching rows in the table. ' +
                       'If you select multiple values, a row is shown, if any value matches')
        .click(function(){
                        hideRows(rowFilter.val() || [], columnIndex);
                        // clean and hide contentPane
                        $('#contentPaneBackground').hide();
                        $('#contentPane').hide().empty();
                    })
        .appendTo($('#contentPane'));
}

function removeFilterButtons() {
    $('#rowFilterSelector, #button-filter-all, #button-filter-none, #button-filter-start').remove();
}

/* this function hides all rows,
in which the column with the columnIndex does not match one of the values. */
function hideRows(values, columnIndex) {
    var columnName = $('#columnTitles')[0].cells[columnIndex].textContent;

    var dataRows = $('#dataTable > tbody')[0].rows;
    for (var i = 0; i < dataRows.length; i++) {
        var row = dataRows[i];
        var isVisible = false;

        // show all matching rows
        if (jQuery.inArray(row.cells[columnIndex].textContent, values) != -1) {
            isVisible = true;
        }

        // special case: show 'correct', 'wrong' and 'unknown' results
        if (!isVisible && columnName == 'status') {
            var classNames = row.cells[columnIndex].className.split(' ');
            for (var j = 0; j < values.length; j++) {
                var value = values[j];
                switch (value) {
                    case 'correct':
                    case 'wrong':
                        if (anyStartsWith(value, classNames)) {
                            isVisible = true;
                        }
                        break;

                    case 'unknown':
                        if (!anyStartsWith('correct', classNames) && !anyStartsWith('wrong', classNames)) {
                            isVisible = true;
                        }
                        break;

                    default: // do nothing, inVisible=false
                }
            }
        }
        if (!isVisible) $(row).hide();
    }
}

function anyStartsWith(key, values) {
    for (var i = 0; i < values.length; i++) {
        if (values[i].indexOf(key) == 0) { return true; }
    }
    return false;
}

$(document).ready(function() {
  $('body').keydown(function (event) {
                      if (fKeyPressed(event))
                        return createRowFilterButtons();
                      });
});
</script>

<!-- ################## Everything related to showing plots of the data ################## -->

<script type="text/javascript" src="{{lib_url}}/jqplot/1.0.8/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="{{lib_url}}/jqplot/1.0.8/plugins/jqplot.highlighter.min.js"></script>
<script type="text/javascript" src="{{lib_url}}/jqplot/1.0.8/plugins/jqplot.cursor.min.js"></script>
<script type="text/javascript" src="{{lib_url}}/jqplot/1.0.8/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="{{lib_url}}/jqplot/1.0.8/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
<script type="text/javascript" src="{{lib_url}}/jqplot/1.0.8/plugins/jqplot.enhancedLegendRenderer.min.js"></script>
<script type="text/javascript" src="{{lib_url}}/jqplot/1.0.8/plugins/jqplot.logAxisRenderer.min.js"></script>
<script type="text/javascript" src="{{lib_url}}/jqplot/1.0.8/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script type="text/javascript" src="{{lib_url}}/jqplot/1.0.8/plugins/jqplot.canvasOverlay.min.js"></script>

<script type="text/javascript">
// Load JQPlot CSS lazily
$(document).ready(function(){
  if (document.createStyleSheet){
    document.createStyleSheet('{{lib_url}}/jqplot/1.0.8/jquery.jqplot.min.css');
  } else {
    $("head").append($("<link rel='stylesheet' type='text/css' href='{{lib_url}}/jqplot/1.0.8/jquery.jqplot.min.css' media='screen'/>"));
  }
});

// simple structure, that contains all data for the plot
var graphData = {
  target : null,
  isRunSet : null,
  filenames : null,
  indices : null, // columns from table
  data : null, // values are sorted if quantilePlot else not sorted, indizes always from 0 to N
  originalData : null, // values are equal to data, but indizes are not sorted
  integerOnly : null,
  minValue : null,
  maxValue : null,
  isQuantile : true,
  isLogScale : true,
  showCorrectOnly : true,
};

// this function collects the indices of columns with target as cell above the column
function getColumnIndicesForTarget(target) {
  var columnIndizes = [];
  var cells = document.getElementById('columnTitles').cells;

  if (graphData.isRunSet) {
    var index = $(target).index(); // index of runset relative to table-row
    for (i = 1; i < cells.length; i++) { // skip first cell
      if ($(cells[i]).is(":visible")) {
        if ("status" != cells[i].textContent
            && run_sets[index-1] === columnsToRunset[i-1]) {
          columnIndizes.push(i);
        }
      }
    }
  } else {
    for (i = 1; i < cells.length; i++) { // skip first cell
      if ($(cells[i]).is(":visible")) {
        if (target.textContent == cells[i].textContent) {
          columnIndizes.push(i);
        }
      }
    }
  }

  return columnIndizes;
};

// collectTableData collects some data for the graphData,
// this function must be called as first function for working with the plot
function collectTableData() {
  var data = [];

  graphData.indices = getColumnIndicesForTarget(graphData.target);
  for (j = 0; j < graphData.indices.length; j++) {
    data.push([]);
  }

  // reset graphData
  graphData.filenames = [];
  graphData.integerOnly = true;
  graphData.minValue = Number.POSITIVE_INFINITY;
  graphData.maxValue = Number.NEGATIVE_INFINITY;

  var rows = $('#dataTable > tbody > tr:visible');
  for (i = 0; i < rows.length; i++) {
    var currentRow = rows[i];
    graphData.filenames.push(currentRow.cells[0].textContent);

    for (j = 0; j < graphData.indices.length; j++) {
      var index = graphData.indices[j];
      var currentCell = $(currentRow.cells[index]);
      var value = getValue(currentCell, graphData.target.textContent);

      // each array is of the form: [[id1, value1], [id2, value2], ...]
      data[j].push([i, value]);
    }
  }

  graphData.originalData = data;
  graphData.data = graphData.isQuantile ? sortData(data) : data;
};


// this method returns sorted data for showQuantile().
function sortData(data) {
  var newData = [];
  for (i = 0; i < data.length; i++) {
    var line = data[i];

    // line has the structur [[0, v0],[1, v1],[2, v2]]
    // we sort the second entry of each element
    // we sort 'inplace', important for highlighting points,
    // compare numbers, NaN and Null are handled as positive infinity
    line.sort( function(a, b) {
      if (a[1] == null || isNaN(a[1])) return 1;
      if (b[1] == null || isNaN(b[1])) return -1;
      return a[1] - b[1];
    } );

    // create new indizes
    var newLine = [];
    for (j = 0; j < line.length; j++) {
      newLine.push([j, line[j][1]]);
    }

    newData.push(newLine);
  }
  return newData;
}


// returns the textcontent of a cell as numeral
function getValue(cell, title) {
    var value;
    if (graphData.showCorrectOnly && !cell.hasClass('correct')) {
        value = Number.NaN;  // using 'null' as unknown value causes problems in the plot

    } else if (title === 'status') {
        if (cell.hasClass('correct'))     value = 1;
        else if (cell.hasClass('wrong'))  value = -1;
        else                              value = 0;

    } else {
        value = parseFloat(cell.text());
        valueInt = parseInt(cell.text());

        // collect some information, used later for tick-formatter
        if (!isNaN(value)) {
            if (value != valueInt){ graphData.integerOnly = false; }
            if (value < graphData.minValue) { graphData.minValue = value; }
            if (value > graphData.maxValue) { graphData.maxValue = value; }
        }

        if (graphData.isLogScale) {
            if (value == 0) {
                value = 0.00001; // zero is not part of log-scale, so we use a value that looks like zero in the graph
            } else if (value < 0) {
                value = Number.NaN; // values below zero are not supported in a log-scale graph at all
            }
        }
    }
    return value;
}


// this functions collects a list of pairs (a,b) where a and b are the entires for the scatterplot.
// this function must be called as first function for working with the plot.
// collectTableData collects some data for the graphData,
// this function must be called as first function for working with the plot
function collectTableDataForScatter(index1, title1, index2, title2) {
  var data = [[]];

  // reset graphData
  graphData.indices = [];
  graphData.filenames = [];
  graphData.integerOnly = true;
  graphData.minValue = Number.POSITIVE_INFINITY;
  graphData.maxValue = Number.NEGATIVE_INFINITY;

  var rows = $('#dataTable > tbody > tr:visible');
  for (i = 0; i < rows.length; i++) {
    var currentRow = rows[i];

    var cell1 = $(currentRow.cells[index1]);
    var value1 = getValue(cell1, title1);

    var cell2 = $(currentRow.cells[index2]);
    var value2 = getValue(cell2, title2);

    // we need two real numbers
    if (value1 != null && value2 != null && !isNaN(value1) && !isNaN(value2)) {
        var filename = currentRow.cells[0].textContent;

        // each array is of the form: [[id1, value1], [id2, value2], ...],
        // the third entry is additional info and is used for the highlighter,
        data[0].push([value1, value2, filename]);
    }
  }

  graphData.originalData = data;
  graphData.data = data;
};


// Create a list which indicates at which ticks to draw grid lines
// and which labels to put at the x-axis.
function getXTicks() {
  var xTicks = [];
  var maxLength = 40;

  var numRows = graphData.filenames.length;
  var labelStep = 1;
  var gridStep = 1;
  if (numRows > 30) { labelStep = 5; }
  if (numRows > 200) { labelStep = 10; gridStep = 5; }
  if (numRows > 1000) { labelStep = 20; gridStep = 10; }

  function getLabel(name, index) {
    if (graphData.isQuantile) {
      return index.toString();
    } else {
      if (name.length > maxLength) { name = name.substring(0, maxLength) + "..."; }
      return name;
    }
  }

  for (i = 0; i < numRows; i++) {
    if (!(i%gridStep)) {
        xTicks.push([i, ((i%labelStep)?" ":getLabel(graphData.filenames[i], i))]);
    }
  }

  return xTicks;
}


// get labels for y-direction
function getYTicks() {
  if (graphData.target.textContent == "status") {
    return [[-1.5, " "], [-1, "wrong"], [0, "unknown"], [1, "correct"], [1.5, " "]];
  } else {
    return [];
  }
}

// returns label of a runset: 'tool+runset+date'.
function getLabels() {
  var labels = [];
  if (graphData.isRunSet) {
      var cells = document.getElementById('columnTitles').cells;
      for (i = 0; i < graphData.indices.length; i++) {
        var index = graphData.indices[i];
        labels.push(cells[index].textContent);
      }
  } else {
      for (i = 0; i < graphData.indices.length; i++) {
        var index = graphData.indices[i];
        labels.push(getNameOfTest(index));
      }
  }
  return labels;
};


function addLegendActions() {
  var legendButtons = $('tr.jqplot-table-legend');
  var seriesLines = $('canvas.jqplot-series-canvas');

  // assertion
  if (legendButtons.length != seriesLines.length) {
    debug("ERROR: number of series does not match buttons!");
  }

  for (i = 0; i<legendButtons.length; i++) {
    var currentButton = legendButtons[i];
    var currentLine = seriesLines[i];

    currentButton.onclick = function(event) {
      var hideOpacity = 0.3;
      if (this.style.opacity == hideOpacity) {
        this.style.opacity = 1;
      } else {
        this.style.opacity = hideOpacity;
      }
    }

    currentButton.onmouseover = function(line) {
      return function(event) { line.style.zIndex = 5; }
    }(currentLine);

    currentButton.onmouseout = function(line) {
      return function(event) { line.style.zIndex = 0; }
    }(currentLine);
  }
}


function highlightFormatter(str, seriesIndex, pointIndex) {
    var numberOfFile = graphData.originalData[seriesIndex][pointIndex][0];
    var filename = graphData.filenames[numberOfFile];
    if (graphData.target.textContent == "status") {
      if (str == 1)       str = "correct";
      else if (str == 0)  str = "unknown";
      else                str = "wrong";
    }
    return filename + "<br>" + str;
}


function highlightFormatterForScatter(str, seriesIndex, pointIndex, plot) {
    var point = plot.series[seriesIndex].data[pointIndex]; // POINT=[x,y,filename]
    // console.log(point);
    if (graphData.target.textContent == "status") { // TODO not working, we have 2 independent values
      if (str == 1)       str = "correct";
      else if (str == 0)  str = "unknown";
      else                str = "wrong";
    }
    return point[2] + "<br>X: " + point[0] + "<br>Y: " + point[1]; // + "<br>STR: " + str;
}


function getYTicksFormat() {
    if (graphData.integerOnly) { return '%.0f'; }
    if (graphData.isLogScale) {
        if (graphData.minValue >= 1) { return '%.0f'; }
        else if (graphData.minValue >= 0.1) { return '%.1f'; }
        else { return '%.2f'; }
    } else {
        return (graphData.maxValue >= 10) ? '%.0f' : '%.2f';
    }
}


function addButtons(target, callback, showQuantileButton) {
    if (showQuantileButton) {
        $('<button>', {id:'button-quantile'}).appendTo(target)
            .click(function() { graphData.isQuantile = !graphData.isQuantile; callback();})
            .text(graphData.isQuantile ? 'Switch to Direct Plot' : 'Switch to Quantile Plot');
    }

    $('<button>', {id:'button-logScale'}).appendTo(target)
        .click(function() { graphData.isLogScale = !graphData.isLogScale; callback();})
        .text(graphData.isLogScale ?  'Switch to Linear Scale' : 'Switch to Logarithmic Scale');

    $('<button>', {id:'button-showCorrectOnly'}).appendTo(target)
        .click(function() { graphData.showCorrectOnly = !graphData.showCorrectOnly; callback();})
        .text(graphData.showCorrectOnly ?  'Switch to All Results' : 'Switch to Correct Results Only');
}

function getSelectorForScatter(identifier) {
    var select = $('<select>', {class:'plot-selector'});
    var columnIndex = 1; // columns start with 1
    var cells = document.getElementById('columnTitles').cells;
    for (var i = 0; i < run_sets.length; i++) {
        var runSet = run_sets[i];
        var group = $('<optgroup>', {label:getNameOfTestDirect(runSet)})
                .appendTo(select);
        for (var j = 0; j < runSet.columns.length; j++, columnIndex++) {
            if ($(cells[columnIndex]).is(':visible')) {
                var column = runSet.columns[j];
                var option = $('<option>', {
                                value:columnIndex,
                                selected:(graphData.target[identifier] == columnIndex)})
                            .text(column).appendTo(group);
            }
        }
    }

    select.change(function(){
        var selectedValue = Number(select.find(':selected')[0].value);
        graphData.target[identifier] = selectedValue;
        showScatterPlot();
    });

    return select;
}

function showScatterPlot() {
  $('#contentPaneBackground').trigger('click'); // cleanup
  var contentPane = $('#contentPane').append('<div id="chart"></div>');
  addButtons(contentPane, showScatterPlot, false);
  showContentPane();

  // the identifier '0/1' is the arrayindex in 'graphData.target',
  // it identifies the first and second selector
  var selector0 = getSelectorForScatter(0);
  var selector1 = getSelectorForScatter(1);
  var index0 = graphData.target[0];
  var index1 = graphData.target[1];
  var titles = $('#columnTitles').children();
  var title0 = titles[index0].textContent;
  var title1 = titles[index1].textContent;
  var label0 = getNameOfTest(index0) + " " + title0;
  var label1 = getNameOfTest(index1) + " " + title1;

  collectTableDataForScatter(index0, title0, index1, title1);

  var maxValue = graphData.maxValue * 100; // should be bigger than all measurable values
  var minValue = graphData.isLogScale ? 0.0000001 : (-maxValue); // there is no zero in logscale

  if (graphData.data[0].length == 0) {
    // crude hack to avoid error in jqplot due to empty data
    graphData.data[0].push(0);
  }
  var plot = $.jqplot('chart', graphData.data, {
    title: 'ScatterPlot: ',
    legend: {
      show:false,
    },
    highlighter:{
      yvalues: 2,   // we have one extra value in the array
      show: true,
      sizeAdjust: 10,
      showMarker: true,
      tooltipAxes: 'y',
      tooltipLocation: 'n',
      tooltipContentEditor: highlightFormatterForScatter, // functionPointer!
      tooltipFormatString: '%s', // how to format the y-value
      useAxesFormatters: false
    },
    seriesDefaults:{
      showLine:false,
      shadow: false,
    },
    cursor:{
      show: false,
      zoom: false,
      showTooltip: false,
    },
    axes:{
      xaxis:{
        label:label0,
        labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
        labelOptions:{ textColor:'Black' },
        renderer: (graphData.isLogScale && title0 !== 'status') ? $.jqplot.LogAxisRenderer : $.jqplot.LinearAxisRenderer,
        tickRenderer: $.jqplot.CanvasAxisTickRenderer,
        tickOptions: {
          angle: -60,
        }
      },
      yaxis:{
        label:label1,
        labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
        labelOptions:{ textColor:'Black' },
        renderer: (graphData.isLogScale && title1 !== 'status') ? $.jqplot.LogAxisRenderer : $.jqplot.LinearAxisRenderer,
        pad: 1.2,
        tickRenderer: $.jqplot.CanvasAxisTickRenderer,
        tickOptions:{
          formatString: getYTicksFormat()
        }
      }
    },
    canvasOverlay: {
        show: true,
        objects: [
            {line: {
                name: 'diagonalLine',
                lineWidth: 1,
                color: 'red',
                shadow: false,
                start: [minValue, minValue],
                stop: [maxValue, maxValue],
            } },
        ]
    }
  });

  $('.jqplot-title').empty()
        .append('X: ').append(selector0)
        .append('<span style="padding-left:50px"></span>') // some space between the selectors
        .append('Y: ').append(selector1);

  $('#contentPaneBackground').click(function(event) {
    plot.destroy();
    $('#chart').empty();
  });
};


function getSelectorForQuantile() {
    var select = $('<select>', {class:'plot-selector'});
    var group = $('<optgroup>', {label:'Run sets'})
            .appendTo(select);
    for (var i = 0; i < run_sets.length; i++) {
      var run_set = run_sets[i];
      var name = getNameOfTestDirect(run_set);
      $('<option>', { value:'runset' + (i+1), selected:(graphData.isRunSet && $(graphData.target).index() == i+1) })
          .text(name).appendTo(group);
    }
    var group = $('<optgroup>', {label:'Columns'})
            .appendTo(select);
    var columns = []
    var columnIndex = 1; // columns start with 1
    var cells = document.getElementById('columnTitles').cells;
    for (var i = 0; i < run_sets.length; i++) {
        var run_set = run_sets[i];
        for (var j = 0; j < run_set.columns.length; j++, columnIndex++) {
            var column = run_set.columns[j];
            if (columns[column] == null && $(cells[columnIndex]).is(':visible')) {
              $('<option>', { value:'column' + columnIndex, selected:(!graphData.isRunSet && graphData.target.textContent == column) })
                  .text(column).appendTo(group);
              columns[column] = column;
            }
        }
    }

    select.change(function() {
        var selection = select.find(':selected')[0].value;
        var selectedValue = Number(selection.substring(6));
        if (selection.substring(0, 6) == 'runset') {
          var cells = document.getElementById('run').cells;
          graphData.isRunSet = true;
        } else if (selection.substring(0, 6) == 'column') {
          var cells = document.getElementById('columnTitles').cells;
          graphData.isRunSet = false;
        } else {
          return;
        }
        graphData.target = cells[selectedValue];
        showPlot();
    });

    return select;
}
// this function collects the indices of columns with target as cell above the column
function getColumnIndicesForTarget(target) {
  var columnIndizes = [];
  var cells = document.getElementById('columnTitles').cells;

  if (graphData.isRunSet) {
    var index = $(target).index(); // index of runset relative to table-row
    for (i = 1; i < cells.length; i++) { // skip first cell
      if ($(cells[i]).is(":visible")) {
        if ("status" != cells[i].textContent
            && run_sets[index-1] === columnsToRunset[i-1]) {
          columnIndizes.push(i);
        }
      }
    }
  } else {
    for (i = 1; i < cells.length; i++) { // skip first cell
      if ($(cells[i]).is(":visible")) {
        if (target.textContent == cells[i].textContent) {
          columnIndizes.push(i);
        }
      }
    }
  }

  return columnIndizes;
};

function showPlot() {
  $('#contentPaneBackground').trigger('click'); // cleanup
  $('#contentPane').append('<div id="chart"></div>');
  addButtons($('#contentPane'), showPlot, true);
  showContentPane();
  var selector = getSelectorForQuantile();
  collectTableData();

  var plot = $.jqplot('chart', graphData.data, {
    title: graphData.target.textContent,
    legend: {
      show:true,
      placement: 'outsideGrid',
      renderer: $.jqplot.EnhancedLegendRenderer,
      labels: getLabels(),
      location: 's',
      rowSpacing: "0px",
      showSwatches: true,
    },
    highlighter:{
      show: true,
      sizeAdjust: 10,
      showMarker: true,
      tooltipAxes: 'y',
      tooltipLocation: 'n',
      tooltipContentEditor: highlightFormatter, // functionPointer!
      tooltipFormatString: '%s',
      useAxesFormatters: false,
      bringSeriesToFront: true,
    },
    seriesDefaults:{
      shadow: false,
    },
    cursor:{
      show: false,
      zoom: false,
      showTooltip: false,
    },
    axes:{
      xaxis:{
        ticks: getXTicks(),
        tickRenderer: $.jqplot.CanvasAxisTickRenderer,
        tickOptions: {
          fontSize: '9px',
          angle: -60,
        }
      },
      yaxis:{
        ticks: getYTicks(),
        renderer: (graphData.isLogScale && graphData.target.textContent !== 'status') ? $.jqplot.LogAxisRenderer : $.jqplot.LinearAxisRenderer,
        pad: 1.2,
        tickOptions:{
          formatString: getYTicksFormat()
        }
      }
    },
  });

  $('.jqplot-title').empty().append(selector);

  addLegendActions();

  $('#contentPaneBackground').click(function(event) {
    plot.destroy();
    $('#chart').empty();
  });
};

function createQuantilePlotView(event) {
  if (event == undefined) {
    graphData.target = document.getElementById('columnTitles').cells[2]; // second column
  } else {
    graphData.target = event.target;
  }
  graphData.isRunSet = false;
  showPlot();
};

function createScatterPlotView() {
  graphData.target = [2,2]; // default indices of the columns in the plot
  graphData.isRunSet = false;
  showScatterPlot();
};

// this function adds the listeners to the table
$(document).ready(function() {
  $('.columnTitles > td:not(:first-child)') // do not use first column
      .addClass("clickable")
      .attr("title", "Click here to show a graph of this column")
      .click(createQuantilePlotView);

  $('.run > td:not(:first-child)') // do not use first column
      .addClass("clickable")
      .attr("title", "Click here to show a graph of this run-set")
      .click(function (event) {
            graphData.target = event.target;
            graphData.isRunSet = true;
            showPlot();
      });

  $('.run > td:first-child')
      .addClass("clickable")
      .attr("title", "Click here to show some scatter-graphs")
      .click(createScatterPlotView);
});

</script>

</body>
</html>
